@import '../../module';

.end-window-wrapper {
    @include flex-constructor(row nowrap, center, flex-start);
    @extend %modal-block;

    .content {
        @include flex-constructor(column nowrap, center, center);
        padding: 20px 40px;

        &>button {
            @extend %button;
        }

        .lid {
            @include flex-constructor(column nowrap, flex-start, center);

            & ol {
                margin: 50px 0;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }
    }
}