@mixin flex-constructor ($flow: row nowrap, $jusCont: flex-start, $alItems: stretch, $alContent:stretch) {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-flow: $flow;
    justify-content: $jusCont;
    align-items: $alItems;
    align-content: $alContent;
}

@mixin modal-block {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(#000, 0.8);
}

@mixin button($fontSize: 17px, $padding...) {
    text-align: center;
    display: block;
    font-size: normal $fontSize;
    background: none;
    color: rgba(#fff, 0.5);
    user-select: none;
    padding: $padding;
    border: 1px solid rgba(#fff, 0.5);

    &:hover {
        color: rgba(#fff, 1);
        border: 1px solid rgba(#fff, 1);
    }

    &:active,
    &:focus {
        outline: none;
    }
}